#audioControllerContainer {
  display: inline-block;
  width: calc(max(92vw - 640px, 49%));
}

#audioPlayer {
  display: inline-block;
  height: 25px;
  width: 52%;
}

#audioForm {
  display: inline-block;
  float: right;
}

#audioFile {
  width: 210px;
  font-size: 12pt;
}

#submitButton {
  font-size: 12pt;
}
