#recordButtonContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  align-content: space-between;
}

.recordingButton {
  font-size: 1rem;
  margin: 0.1rem;
}

.recordingButton:disabled {
  opacity: 0.7;
  cursor: not-allowed;
}

.recordingButton:disabled:hover {
  background-color: #f0f0f0;
}
