#waveTypeMenuContainer {
  position: fixed;
  bottom: 0.5rem;
  right: 0.45rem;

  height: auto;
  width: auto;
}

#waveTypeMenu {
  max-height: calc(100vh - 16rem);
  overflow: auto;
}

#waveTypeMenuButton,
.waveTypeMenuItem {
  user-select: none;
  cursor: pointer;

  border-style: solid;
  border-width: 0.15rem;
  border-color: #efefef;
  border-radius: 0.25rem;

  background-color: darkslateblue;

  text-align: center;
  color: #efefef;
  font-size: 1rem;

  padding: 0.6rem;

  width: 4.75rem;
  height: 2.25rem;
}

#waveTypeMenuButton {
  margin-right: 0.05rem;
}

#waveTypeMenuButton:hover {
  background-color: mediumslateblue;
}

.waveTypeMenuItem {
  border-top-width: 0.05rem;
  border-bottom-width: 0.05rem;
  border-radius: 0;

  background-color: mediumslateblue;

  padding: 0.25rem;
  height: auto;
}

.waveTypeMenuItem:hover {
  background-color: #8470ff;
}
