#waveTypeMenuContainer {
  position: fixed;
  bottom: 0px;
  right: 0px;

  margin: 8px;

  height: auto;
  width: auto;
}

#waveTypeMenu {
  display: block;

  max-height: calc(100vh - 130px);
  overflow: auto;
}

#waveTypeMenuButton, .waveTypeMenuItem {
  border-style: solid;
  border-width: 2px;
  border-color: #efefef;
  border-radius: 4px;

  background-color: darkslateblue;

  text-align: center;
  color: #efefef;
  font-size: 12pt;

  padding: 10px;

  width: 75px;
  height: 40px;
}

.waveTypeMenuItem {
  border-top-width: 1px;
  border-bottom-width: 1px;
  border-radius: 0px;

  background-color: mediumslateblue;

  font-size: 12pt;

  padding: 3px;

  width: 78px;
  height: auto;
}
